# Package

In [1]:
import pandas as pd

In [5]:
train_df = pd.read_csv('../data/raw_data/train.csv')

In [6]:
train_df.shape

(37670293, 24)

In [13]:
top5_booked = ' '.join([str(ele) for ele in train_df[train_df['is_booking']==1]['hotel_cluster'].value_counts().head(5).index.values.tolist()])

In [14]:
top5_booked

'91 48 42 59 28'

In [3]:
df = pd.read_csv('../data/raw_data/sample_submission.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2528243 entries, 0 to 2528242
Data columns (total 2 columns):
 #   Column         Dtype
---  ------         -----
 0   id             int64
 1   hotel_cluster  object
dtypes: int64(1), object(1)
memory usage: 38.6+ MB

In [8]:
df.head()

   id hotel_cluster
0   0          99 1
1   1          99 1
2   2          99 1
3   3          99 1
4   4          99 1

In [15]:
df['hotel_cluster'] = top5_booked

In [16]:
df.head()

   id   hotel_cluster
0   0  91 48 42 59 28
1   1  91 48 42 59 28
2   2  91 48 42 59 28
3   3  91 48 42 59 28
4   4  91 48 42 59 28

In [17]:
df.to_csv('../result/popular_rec.csv', index=False)